*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}


/* Main Style */

/* Navigation Bar Style */

#header{
    margin: 0px auto;
    height:92px;

}
.navBar{
    margin: 0px auto;
    display: flex;
    justify-content: space-between;
   
    
}
.navBar img{
    margin: 16px 0px  0px 120px;
}
.navBar .navBarCenterText {
    margin:34px ;
}
.navBar .navBarCenterText a {
    margin-right: 34px;
    font-size: 16px;
    color:#000000;
    text-decoration: none;
}

.button{
    margin:24px  120px 24px 0px;
    border-radius: 4px;
    width: 164px;
    height: 44px;
    border: none;
     text-align: center;
    color: white;
    text-decoration: none;
    display: inline-block;
    background-color:#469165;
     padding: 12.5px 16px;
    cursor: pointer;
    transition-duration: 0.4s;
}
.button:hover{
    background-color: rgba(44, 64, 14, 0.395);
    color:white;
}
/* Banner design */
.banner{
    background: url(assets/hero-bg.png);
    background-repeat: no-repeat;
    vertical-align: middle;
    background-size: cover; 
    text-align: center;
    overflow: hidden;
}



 .banner-head{

    margin:0px auto;
    margin-top: 115.5px;
    margin-bottom: 16px;
    width: 250px;
    height: 35pxs;
    border-radius: 25px;
    background-color:white;
    padding: 8px 12px 8px 34px;
    color:#469165;
    font-size: 16px;
   


}

.banner-text span{
    font-size: 72px;
    font-style: bold;
    color:white;
}
.banner-content{

    font-size: 14px;
    font-weight:;
    color:#ffffff;
    line-height: 24px;
    margin-bottom: 32PX;
}
.banner-btn1{
    width: 251px;
    height: 52px;
    margin-bottom: 179.5px;
    padding: 12px 16px 12px 16px;
    border-radius: 4px;
    border: none;
    background-color: #469165;
    font-size: 16px;
    color:#ffffff;
    display: inline-block;
    cursor: pointer;
    transition-duration: 0.4s;
    
}
.banner-btn1:hover{
    background-color: rgba(44, 64, 14, 0.395);
    color:white;
}
.btn2{
    width: 198px;
    height: 52px;
     margin-left: 16px;
     margin-right: 10px;
     padding-top: 16px;
     background-color: transparent;
     border:1px solid #ffffff ;
}
.btn2 img{
        margin-right: 10px;
}
.btn1 img{
    margin-left: 5px;
}

/*note section */
.notesSection{
    margin: 0px auto;
}
.notesSection .noteHead h1,p{
    text-align: center;
    
}
.noteHead h1{
    margin-top: 80px;
    margin-bottom: 16px;
    font-size: 48px;
    font-weight: bold;
    color: #001931;
}
.noteHead p{
    font-size: 16px;
    color: #627382;
}
.noteCard{
    margin: 0px auto;
    max-width: 1360px;
    display: flex;
    justify-content: space-between;
    text-align: center;
}
.noteCard .cardDesign{
    max-width:322px ;
    
    border-radius: 8px;
    padding: 24px;
     box-shadow: 0px 0px 6px 6px  #e2e0e088;
    
    
    margin-right: 24px;
    margin-top: 44px;
    text-align: center;
}
.noteCard img{
    margin-top: 70px;
   
    background-color:orangered ;
    padding: 24px;
    border-radius: 50%;
}
.cardDesign h2{
    margin-top: 16px;
    margin-bottom: 16px;
        font-size: 24px;
        color: #001931;
}
.cardDesign p{
    font-size: 16px;
    color: #627382;
}
.brainSec{
        margin: 0px auto;
        max-width: 1360px;
        display: flex;

        
}
.brainSec img{
    border-radius: 12px;
}
.secondBrainSection{
    margin-top: 120px;
}
.rightBar{
    margin-top: 120px;
    margin-left: 60px;
}
.brainSec ul {
    margin-left: 60px;
    list-style-type: none;
}
.rightBar h1{
    font-size: 16px;
    color:#469165;
    font-weight:500;
    margin-bottom: 16px;
}
.rightBar h2{
    font-size: 48px;
    font-weight: 700;
    color:#001931;
    margin-bottom: 16px;
}
.rightBar p{
    margin-bottom: 40px;
    text-align: left;
    font-size: 16px;
    color: #627382;
}
.brainSec ul li{
    margin-bottom: 16px;
    font-size: 16px;
    color: #001931;
    font-weight: 500;
}
/* early Access Sesion */
.earlyAccessSection{
    margin-top: 100px;

}
.earlyAccess {
    padding: 80px 40px;
    background-color: #f7f6f2;
    margin: 0px auto;
    width: 1360px;
    text-align: center;
}
.earlyAccess h1{
   
    font-size: 40px;
    font-weight: 700;
    color: #001931;
    font-style: bold;
}
.earlyAccess h2{
    margin-bottom: 24px;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    color: #627382;
}
.earlybtn1{
    width: 251px;
    height: 52px;
    margin-bottom: 16px;
    padding: 12px 16px 12px 16px;
    border-radius: 4px;
    border: none;
    background-color: #469165;
    font-size: 16px;
    color:#ffffff;
    display: inline;
    cursor: pointer;
    transition-duration: 0.4s;
    text-align: center;
}
.earlybtn1:hover{
    background-color: rgba(44, 64, 14, 0.395);
    color:white;
}





.earlyAccess p{
    margin-bottom: 80px;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    color: #627382;
}
/* Footer  */
.footer{
    margin:0px auto;
    margin-top: 100px;
    width: 1600px;
    padding:120px 100px 30px 120px;
    
    background-color: #001931;
    
}
.footerDisplay{
    margin-right: 60px;
    display: flex;
    justify-content: space-between;
    
}
.social p{
    font-size: 20px;
    font-weight: 500;
    color: white;
    margin-bottom: 30px;
    margin-right: 50px;
}
.social a{
    margin-top: 50px;
    margin-right: 16px;
    margin-bottom: 164px;
    list-style: none;
    
}
.social  img{
    
    padding: 10px;
    background-color: #ffffff;
    border-radius: 50%;
    
    
}
 .copyRight p{
    margin: 0px auto;
    margin-top: 25px;
    font-size: 16px;
    font-weight: 400;
    color: #FAFAFA;
}