*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}


/* Main Style */

/* Navigation Bar Style */

.header{
    margin: 0px auto;
}
.navBar{
    margin: 0px auto;
    display: flex;
    justify-content: space-between;
    border:2px solid red;
}
.navBar img{
    margin: 16px 0px  0px 120px;
}
.navBar .navBarCenterText {
    margin:34px ;
}
.navBar .navBarCenterText a {
    margin-right: 34px;
    font-size: 16px;
    color:#000000;
    text-decoration: none;
}

.button{
    margin:24px  120px 24px 0px;
    border-radius: 4px;
    width: 164px;
    height: 44px;
    border: none;
     text-align: center;
    color: white;
    text-decoration: none;
    display: inline-block;
    background-color:#469165;
     padding: 12.5px 16px;
    cursor: pointer;
    transition-duration: 0.4s;
}
.button:hover{
    background-color: rgba(44, 64, 14, 0.395);
    color:white;
}